/* Global Style */

body {
    font-size: 16px;    
    font-weight: 400;
    background-color: #f8f8f8;
}

.h1-font-size { font-size: 4.5em;   font-weight: 900; }
.h2-font-size { font-size: 3.7em;   font-weight: 800; }
.h3-font-size { font-size: 3.1em;   font-weight: 700; }
.h4-font-size { font-size: 2.3em;   font-weight: 600; }
.h5-font-size { font-size: 1.8em;   font-weight: 500; }
.h6-font-size { font-size: 1.3em;   font-weight: 500; }
.s1-font-size { font-size: 0.9em;   font-weight: 400; }
.s2-font-size { font-size: 0.8em;   font-weight: 400; }
.s3-font-size { font-size: 0.8em;   font-weight: 400; }

h1 { font-size: 4.5em;   font-weight: 900; }
h2 { font-size: 3.7em;   font-weight: 800; }
h3 { font-size: 3.1em;   font-weight: 700; }
h4 { font-size: 2.3em;   font-weight: 600; }
h5 { font-size: 1.8em;   font-weight: 500; }

.btn-width-100 { width: 100px; }

.dialog_background { background-color: #fceb7e; }

/* Menu */
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
.navbar.bg-dark {
    color: #fefefe;
    background-color: #040404 !important;
    border: 1px solid #282828;
}

/* Side menu */
.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 102px);
    transition: all 0.3s;
    font-size: 0.85em;
}
.sidebar ul li a {
    display: block;
    padding: .5rem 1rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

.sidebar ul.memberDetail {
    display: block;
    padding: .5rem .5rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}
.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 0, 0, .25);
}

.sidebar ul.memberDetail:hover, .sidebar ul.memberDetail .active {
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 0, 0, .25);
    cursor: pointer;
}
.sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, .25);
}
.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;
}
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}

/* Top Button */
#topButton {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 1;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    padding: 15px;
}

/* Button Color */
.btn.btn-primary, .btn.btn-primary {
    background-color: #1967be;
    color: #ffffff;
    border: 1px solid #1967be;
}
.btn.btn-primary:hover {
    background-color: #0a4b93;
    color: darkgrey;
    border: 1px solid #0a4b93;
}
.btn.btn-sedondary {
    background-color: #555555;
    color: #ffffff;
    border: 1px solid #555555;
}
.btn.btn-sedondary:hover {
    background-color: #252525;
    color: darkgrey;
    border: 1px solid #252525;
}
.btn.btn-success {
    background-color: #74af00;
    color: #ffffff;
    border: 1px solid #74af00;
}
.btn.btn-success:hover {
    background-color: #456701;
    color: darkgrey;
    border: 1px solid #456701;
}
.btn.btn-info {
    background-color: #9631c9;
    color: #ffffff;
    border: 1px solid #9631c9;
}
.btn.btn-info:hover {
    background-color: #591979;
    color: darkgrey;
    border: 1px solid #591979;
}
.btn.btn-warning {
    background-color: #ff7700;
    color: #ffffff;
    border: 1px solid #ff7700;
}
.btn.btn-warning:hover {
    background-color: #9c5301;
    color: darkgrey;
    border: 1px solid #9c5301;
}
.btn.btn-danger {
    background-color: #cc0000;
    color: #ffffff;
    border: 1px solid #cc0000;
}
.btn.btn-danger:hover {
    background-color: #860202;
    color: darkgrey;
    border: 1px solid #860202;
}

thead {
    color: #fefefe;
    background-color: #101010;
}

.hide {
    display:none;  
}

/**
* Get rid of bootstrap table detail view plus icon
*/
body {
    margin: 10px;
}
  
#history_table thead > tr > th.detail,
#history_table tbody > tr:not(.detail-view) > td:first-of-type {
    display: none;
}
  
#history_table thead > tr > th:nth-child(2),
#history_table tbody > tr:not(.detail-view) > td:nth-child(2) {
    border-left: none!important;
}